In [2]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder

In [4]:
df = pd.read_csv('Data/merged_data.csv')
df.head()

,yearID,playerID,teamID,salary,GP,G_all,GS,awardID,stint,G,...,IBB_pitching,WP_pitching,HBP_pitching,BK,BFP,GF,R_pitching,SH_pitching,SF_pitching,GIDP_pitching
0,1985,barkele01,ATL,870000,NaN,20.0,18.0,NaN,1.0,20.0,...,1.0,3.0,1.0,0.0,335.0,1.0,55.0,4.0,1.0,4.0
1,1985,bedrost01,ATL,550000,NaN,37.0,37.0,NaN,1.0,37.0,...,6.0,6.0,5.0,0.0,907.0,0.0,101.0,6.0,7.0,17.0
2,1985,benedbr01,ATL,545000,NaN,70.0,67.0,NaN,1.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1985,campri01,ATL,633333,NaN,66.0,2.0,NaN,1.0,66.0,...,11.0,4.0,5.0,0.0,569.0,23.0,72.0,4.0,4.0,24.0
4,1985,ceronri01,ATL,625000,NaN,96.0,76.0,NaN,1.0,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN